{% extends 'paginasweb/base.html' %}
{% block content %}

<h2>Lista de Itens de Pedidos</h2>

<table class="table table-striped my-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pedido</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor do Item</th>
            <th>Observação</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>#{{ item.pedido.pk }}</td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.valor_item }}</td>
            <td>{{ item.observacao }}</td>
            <td>
                <a href="{% url 'atualizar_itens' item.pk %}" class="btn btn-warning btn-sm">📝</a>
                <a href="{% url 'excluir_itens' item.pk %}" class="btn btn-danger btn-sm">❌</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nenhum item cadastrado!</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="text-center my-2">
    <a href="{% url 'cadastrar_itens' %}" class="btn btn-primary btn-lg m-1">
        <i class="bi bi-cart-plus"></i>
        Adicionar outro item
    </a>

    <a href="{% url 'cadastrar_pedido' %}" class="btn btn-success btn-lg m-1">
        <i class="bi bi-cart-check"></i>
        Finalizar Pedido
    </a>
</p>

{% endblock %}
