{% extends 'paginasweb/base.html' %}
{% block content %}

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Opções</th>
    </tr>
    {% for objeto in object_list %}
    <tr>
        <td>{{objeto.pk}}</td>
        <td>{{objeto.nome}}</td>
        <td>
            <a href="{% url "atualizar_forma_pagamento" objeto.pk %}" class="btn btn-warning btn-sm">📝</a>
            <a href="{% url "excluir_forma_pagamento" objeto.pk %}" class="btn btn-danger btn-sm">❌</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhuma forma de pagamento cadastrada!</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}